###
# Java ignores
##

/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/###

##
# OS Files
##

# Mac OS
.DS_Store
._*
.Trashes/

# Linux
*~
*.swp

# Windows
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk


##
# Ignored extensions
##

*.bak
*.log
*.swp
*.tmp

# .gitignore
